@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register";
}

<div class="landing">
    @using System.Security.Claims

    
    <h2 class="fix">Mr. Fix-It</h2>
  
    @if (User.Identity.IsAuthenticated)
    {
        <h4 class="welcome">Hello @User.Identity.Name!</h4>

    }
    else
    {
        <p class="welcome">@Html.ActionLink("Register", "Register")</p>
        <p class="welcome">@Html.ActionLink("Log in", "Login")</p>
    }

</div>



