@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<button class="pending-job btn btn-primary">Pending</button>
<button class="complete-job btn btn-danger">Complete</button>




