@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job

@*<form action="Edit" class="complete-job">
    <input type="hidden" name="id" value="@Model.JobId">

    <label for="newComplete">Complete:</label>
    <input type="text" name="newComplete" value="@Model.Completed" />
    <br />
    <label for="newPending"> Pending:</label>
    <input type="text" name="newPending" value="@Model.Pending" />
    <br />
    <button type="submit">Update Status</button>
</form>*@

<p>form for updating status will go here</p>