@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

@*Pending confirmation page that displays with AJAX when button is clicked on the index page*@

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)


    <h4>Is this job still pending?</h4>
    <input type="submit" value="Confirm" />

}